body {
  text-align: center;
  font-family: Arial;
  background: #f5f5f5;
}

#board {
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(7, 70px);
  gap: 8px;
  background: blue;
  padding: 10px;
  border-radius: 10px;
  width: fit-content;
}

.cell {
  width: 70px;
  height: 70px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
}

.red {
  background: red;
}

.yellow {
  background: yellow;
}